@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
}
.book-Wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.side-img0 {
  background-image: url("../../assets/rectangle-1@3x.png");
  background-size: cover;
  width: 30vw;
}
/* ALI MALIK */
.bookForm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0px;
  background: white;
  width: 40vw;
  height: 80vh;
  padding: 40px;
}
.title0 {
  color: #3d5054;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  letter-spacing: 0.5px;
}
/* margin from top of screen */
.form0 {
  margin-top: 1rem;
}
/* margin from heading */
.form0 {
  margin-top: 25px;
}
.form0 input {
  padding: 12px 8px;
  border-radius: 8px;
  outline: none;
  border-color: #3d5054;
  border-width: 1px;
}
.salImg0 {
  display: none;
}
.flex-com0 {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  /* margin-bottom: 10px; */
  flex-wrap: wrap;
}
.sal-common0 {
  margin-top: 12px;
}
.sal-common0 input {
  width: 100%;
}
.sub-btn0 button {
  margin: 20px 0px 5px 0px;
  width: 100%;
  background: #3d5054;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.flex-com0 input {
  /* width: 190px; */
  width: 48%;
}
/*          ////////////////////////      responsive             ///////////////////////////////////  */
@media (max-width: 912px) {
  .title0 {
    font-size: 28px;
  }
  .side-img0 {
    display: none;
  }
  .bookForm {
    border-radius: 5px;
    width: auto;
    height: 72vh;
    padding: 40px 80px;
  }
}

@media (max-width: 576px) {
  .flex-com0 input {
    width: 100%;
  }
  .bookForm {
    height: 85vh;
    width: 85vw;
  }
  .bookForm {
    padding: 40px;
  }
  .flex-com0 {
    margin: unset;
  }
  .sal-common0 {
    margin: unset;
  }
  .margin {
    margin-bottom: 12px;
  }
}
@media (max-width: 330px) {
  .form0{
    width: 130px;
  }
  }
@media (max-width: 280px) {
.form0{
  width: 180px;
  margin-left: -80px;
}
}

