@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
}
.book-Wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.side-img0 {
  background-image: url("../../assets/rectangle-1@3x.png");
  background-size: cover;
  width: 40%;
}
/* ALI MALIK */
.bookForm {
  background: white;
  /* width: 600px; */
  width: 40%;
  height: 80vh;
  padding: 40px 100px;
}

.title0 {
  color: #3d5054;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  letter-spacing: 0.5px;
}
/* margin from top of screen */
.form0 {
  margin-top: 1rem;
}
/* margin from heading */
.form0 {
  margin-top: 25px;
}
.form0 input {
  padding: 12px 8px;
  border-radius: 8px;
  outline: none;
  border-color: #3d5054;
  border-width: 1px;
}
.salImg0{
  display: none;
}
.flex-com0 {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.sal-common0 {
  margin-top: 12px;
}
.sal-common0 input {
  width: 100%;
}
.sub-btn0 button {
  margin: 20px 0px 5px 0px;
  width: 100%;
  background: #3d5054;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.flex-com0 input {
  /* width: 190px; */
  width: 48%;
}
/*          ////////////////////////      responsive             ///////////////////////////////////  */
@media (max-width: 1024px) {
  .form0{
    margin-top: -2rem;
  }
  .title0{
    font-size: 28px;
  }
  .flex-com0{
    flex-wrap: wrap;
  }
  .flex-com0 input{
    width: 100%;
    margin-bottom: 6px;
  }
}
@media (max-width: 912px) {
  .form0{
    margin-top: -2rem;
  }
  .bookForm{
    background-image: url("../../assets/rectangle-1@3x.png");
    width: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 70vh;
  }
  .book-Wrapper{
    display: block;
  }
  .form0{
    margin-top: 0px;
  }
}
@media (max-width: 540px) {
  .form0{
    margin-top: 10px;
  }
}
@media (max-width: 414px) {
  .flex-com0{
    flex-wrap: wrap;
  }
  .flex-com0 input{
    width: 100%;
    margin-bottom: 10px;
  }
  .form0{
    width: 145%;
    margin-left: -40px;
    margin-top: -44px;
  }
  .flex-com0,.flex-com0 input,.sal-common0{
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
@media (max-width: 375px) {
  .bookForm{
    height: 60vh;
  }
  .form0{
    width: 190%;
  }
  .title0{
    font-size: 22px;
  }
}
@media (max-width: 330px) {
  .form0{
    width: 130px;
  }
  }
@media (max-width: 280px) {
.form0{
  width: 180px;
  margin-left: -80px;
}
}

