@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.Login-Wrapper {
  display: flex;
  justify-content: space-between;
}
.login-sideImg {
  background-image: url("../../assets/login.jpg");
  background-size: cover;
  width: 57vw;
  height: 100vh;
}

/* ALI MALIK */
.loginForm-outer {
  background: white;
  width: 600px;
  height: 100vh;
  padding: 100px;
}

.title {
  color: #3d5054;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  letter-spacing: 0.5px;
}
/* margin from top of screen */
.loginForm {
  margin-top: 1rem;
}
.loginForm p {
  color: #818181;
  font-size: 13px;
  letter-spacing: 0.5px;
}
/* margin from heading */
form {
  margin-top: 25px;
}
.login input {
  padding: 12px 8px;
  border-radius: 8px;
  outline: none;
  border-color: #3d5054;
  border-width: 1px;
  width: 82%;
  margin: 12px 0px;
}
.forget-pass {
  border: none;
  margin-top: 12px;
}
.forget-pass button {
  border: none;
  background: transparent;
  color: #3d5054;
  font-weight: 500;
  cursor: pointer;
}

.loginsub-btn button {
  margin: 20px 0px 5px 0px;
  width: 82%;
  background: #3d5054;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 1.5rem;
}
.navtoLog {
  font-size: 12px;
}
.moveToLogin {
  border: none;
  background: transparent;
  margin: 0 4px;
  font-size: 12px;
  font-weight: bold;
  color: #3d5054;
  cursor: pointer;
}

/* Media Query */
@media (max-width: 768px) {
  .login-sideImg {
    position: relative;
    width: 100vw;
  }

  .loginForm-outer {
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    padding: 70px;
    width: 60vw;
  }
  .loginsub-btn button {
    width: 100%;
  }
  .login input {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .loginForm-outer {
    width: 66vw;
  }
}
@media (max-width: 590px) {
  .loginForm-outer {
    width: 70vw;
  }
}
@media (max-width: 520px) {
  .loginForm-outer {
    width: 73vw;
  }
}
@media (max-width: 450px) {
  .loginForm-outer {
    width: 90vw;
    padding: 60px 40px;
  }
}
