.changepassflex{
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;

}
.changepasswidth{
width: 30%;
}
.changepassjustify{
  border: 2px solid rgb(107, 105, 105);
  border-radius: 6px;
  padding: 20px;
}
.changeinput{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.changebtn button{
  background-color: #3d5054;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  width: 60%;
}
.chpsin{
  width: 80%;
}
