@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.changepassflex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
  height: 70vh;
  margin: auto;
}
.changepasswidth {
  width: 400px;
}
.changepassjustify {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  /* padding: 20px; */
}
.changeinput {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.changebtn button {
  background-color: #3d5054;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  width: 80%;
}
.chpsin {
  width: 80%;
}
@media (max-width: 450px) {
  .changepasswidth {
    width: 90vw;
  }
}
